<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <title>Results</title>
    <style>
      body {
        background-color:#4AC9E3;
      }
      
      h2 {
        font-family: 'Zilla Slab', serif;
        margin-top:50px;
      }
      
      a {
        color:black;
      }
      
      img {
        margin-top:100px;
      }
    </style>
    </head>
    <body>
      <center>
      <h2>You should try some chicken wraps, which have less carbs than a sandwich, but are also high in protien! This can be made with gluten free tortillas and/or beans/fake meat products as well.</h2>
      <a href="http://www.eatingwell.com/recipe/252626/chicken-club-wraps/"><img src="https://img.aws.livestrongcdn.com/ls-article-image-673/ds-photo/getty/article/199/113/187011351.jpg" height="200px"></a>
      <br>
      <br>
      <a href="/"><h2>Back To Home Page</h2></a>
      </center>
    </body>
    </html>