<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <title>Results</title>
    <style>
      body {
        background-color:#4AC9E3;
      }
      
      h2 {
        font-family: 'Zilla Slab', serif;
        margin-top:50px;
      }
      
      a {
        color:black;
      }
      
      img {
        margin-top:100px;
      }
    </style>
    </head>
    <body>
      <center>
      <h2>You should try taco salad, which contains a lot of nutrients from veggies and protein!</h2>
      <a href="https://www.wellplated.com/skinny-taco-salad/"><img src="https://media.chefdehome.com/740/0/0/fish-taco-salad/blackened-fish-taco-salad-chefdehome-1.jpg" height="200px"></a>
      <br>
      <br>
      <a href="/"><h2>Back To Home Page</h2></a>
      </center>
    </body>
    </html>