<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <title>Results</title>
    <style>
      body {
        background-color:#4AC9E3;
      }
      
      h2 {
        font-family: 'Zilla Slab', serif;
        margin-top:50px;
      }
      
      a {
        color:black;
      }
      
      img {
        margin-top:100px;
      }
    </style>
    </head>
    <body>
      <center>
      <h2>You should try the The Body Shop Himalayan Charcoal Purifying Glow Mask, which draws out impurites and leaves the skin glowing!</h2>
      <a href="https://www.thebodyshop.com/en-us/skin-care/face-masks/himalayan-charcoal-purifying-glow-mask/p/p002002"><img src="https://cf4.s3.souqcdn.com/item/2017/10/01/24/42/22/28/item_XL_24422228_35908167.jpg" height="200px"></a>
      <br>
      <br>
      <a href="/"><h2>Back To Home Page</h2></a>
      </center>
    </body>
    </html>