<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <title>Results</title>
    <style>
      body {
        background-color:#4AC9E3;
      }
      
      h2 {
        font-family: 'Zilla Slab', serif;
        margin-top:50px;
      }
      
      a {
        color:black;
      }
      
      img {
        margin-top:100px;
      }
    </style>
    </head>
    <body>
      <center>
      <h2>You should use a gentle skin cleanser, which has a gentle, non-irritating formula that is suitable for all skin types!</h2>
      <img src="https://media0.giphy.com/media/l3zoGGvNSYOMXv8f6/giphy.gif" height="200px">
      <br>
      <br>
      <a href="/"><h2>Back To Home Page</h2></a>
      </center>
    </body>
    </html>