<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <title>Results</title>
    <style>
      body {
        background-color:#4AC9E3;
      }
      
      h2 {
        font-family: 'Zilla Slab', serif;
        margin-top:50px;
      }
      
      a {
        color:black;
      }
      
      img {
        margin-top:100px;
      }
    </style>
    </head>
    <body>
      <center>
      <h2>You should try the Lush FOMO Jelly face mask, which will calm redness and leave your skin feeling supple and soft!</h2>
      <a href="https://www.lushusa.com/face/masks/fomo/07375.html"><img src="http://awanderersadventures.com/wp-content/uploads/2017/10/FOMO-Lush-Face-Mask.jpg" height="200px"></a>
      <br>
      <br>
      <a href="/"><h2>Back To Home Page</h2></a>
      </center>
    </body>
    </html>