<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Markazi+Text|Merienda" rel="stylesheet">
    <title>SCS - Skincare</title>
    <style>
      body {
  background-color:gray;
}

h1 {
  text-align: center;
  font-size: 70px;
  margin-top:50px;
  font-family: 'Dancing Script', cursive;
}

a {
  color:black;
}

.navbar {
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top:50px;
}

.nav {
  background: pink;
  width: 20%;
  height: 30px;
  float:left;
  display: flex;
  justify-content: center;
  align-items: space-around;
  opacity: .9 !important;
}

.text {
  margin-left: 4%;
  margin-top: 25px;
}

p {
  font-size: 20px;
  font-family: 'Markazi Text', serif;
}

h4 {
  font-family: 'Markazi Text', serif;
}

h3 {
  font-family: 'Markazi Text', serif;
}

h2 {
  font-size:35px;
  font-family: 'Merienda', cursive;
}

#paragraph {
  width: 60%;
  float: left;
}

.image {
  margin-left:6%;
}

img {
  float: right;
  margin-top: 100px;
  margin-right:7%;
}

.button {
  margin-left:8%;
}

.image2 {
  margin-right:16%;
}

.image3 {
  margin-right:11%;
} */

    </style>
  </head>
  <body>
    <h1>Skincare</h1>
      <div class="navbar">
        <div class="nav">
          <a href="/"><h4>Home</h4></a>
        </div>
        
        <div class="nav">
          <a href="/workouts"><h4>Workouts</h4></a>
        </div>
        
        <div class="nav">
          <a href="/skincare"><h4>Skincare</h4></a>
        </div>
        
        <div class="nav">
          <a href="/mealplans"><h4>Meal Plans</h4></a>
        </div>
      </div>
    <div id="paragraph">
    
       <form method="POST" action="/skincare">
          <h2 class="text">Hello! Today, you will take a quiz that will recommend a skincare routine for you based on your answers to the following questions.<h2>
           <h3 class="text">To begin with, on a scale of one to five, how oily is your skin?</h3>
               <input class="button" type="radio" name="question1" value="1">1<br>
               <input class="button" type="radio" name="question1" value="2">2<br>
               <input class="button" type="radio" name="question1" value="3">3<br>
               <input class="button" type="radio" name="question1" value="4">4<br>
<input class="button" type="radio" name="question1" value="5">5<br>
          
                      <h3 class="text">How much time a day do you have to spend focusing on skincare?</h3>
               <input class="button" type="radio" name="question2" value="1">Less than 5 minutes<br>
               <input class="button" type="radio" name="question2" value="2">5-10 minutes<br>
               <input class="button" type="radio" name="question2" value="3">10-15 minutes<br>
               <input class="button" type="radio" name="question2" value="4">15-20 minutes<br>
<input class="button" type="radio" name="question3" value="5">More than 20 minutes<br>

             
          
            
              
           <h3 class="text">What is your skincare budget?</h3>
               <input class="button" type="radio" name="question3" value="1">less than $10<br>
               <input class="button" type="radio" name="question3" value="2">$10-20<br>
               <input class="button" type="radio" name="question3" value="3">$20-30<br>
               <input class="button" type="radio" name="question3" value="4">$30-40<br>
<input class="button" type="radio" name="question3" value="5">More than $40<br>

   
           <h3 class="text">What is your most dominant skin problem?</h3>
               <input class="button" type="radio" name="question4" value="1">dryness<br>
               <input class="button" type="radio" name="question4" value="2">rough texture<br>
               <input class="button" type="radio" name="question4" value="3">discoloration<br>
               <input class="button" type="radio" name="question4" value="4">acne<br>
<input class="button" type="radio" name="question4" value="5">oiliness<br>

        

            <br>

           <button class="button" type="submit">Submit Your Answers</button>
          
       </form>

      </div>
      <img src="https://cdn.shopify.com/s/files/1/1265/7867/files/bluemercury_skincare_header_mobile.jpg?5259059114981146734" alt="" height="120px"></img>
<img class="image2" src="https://www.treatwell.co.uk/treatment-files/wp-content/uploads/sites/41/2016/08/Screen-Shot-2016-07-28-at-11.35.46.jpg" alt="" height="120px"></img>
    <img class="image3" src="https://i.ytimg.com/vi/j4arFU1Cqh8/maxresdefault.jpg" alt="" height="120px"></img>
    <img class="image3" src="https://media.allure.com/photos/594d3244edee8a728fd272e0/master/pass/bts-sheet-amsking.jpg" height="120px"></img>
  </body>
</html>
