<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <title>Results</title>
    <style>
      body {
        background-color:#4AC9E3;
      }
      
      h2 {
        font-family: 'Zilla Slab', serif;
        margin-top:50px;
      }
      
      a {
        color:black;
      }
      
      img {
        margin-top:100px;
      }
    </style>
    </head>
    <body>
      <center>
      <h2>Combine lemon juice and yogurt. Mix lemon juice and yogurt. Take 2 tablespoons of plain yogurt in a bowl. Apply the face mask once weekly. Apply this mask once a week to get rid of oily skin. Using a face pack brush, apply the paste all over the face, leaving the area around the eyes. This mask will disolve fine lines and wrinkles, as well as dissolving dead skin and tightening the pores.</h2>
      <img src="https://img.aws.livestrongcdn.com/ls-article-image-673/cme/photography.prod.demandstudios.com/1046ee38-3cf7-4618-a9e9-2fb4d093a00a.jpg" height="200px">
      <br>
      <br>
      <a href="/"><h2>Back To Home Page</h2></a>
      </center>
    </body>
    </html>