<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <title>Results</title>
    <style>
      body {
        background-color:#4AC9E3;
      }
      
      h2 {
        font-family: 'Zilla Slab', serif;
        margin-top: 50px;
      }
      
      a {
        color:black;
      }
      
      img {
        margin-top:100px;
      }
    </style>
    </head>
    <body>
      <center>
      <h2>You should participate in hardcore muscle building exercises (pushes, crunches, weight-lifting) in order to improve strength!</h2>
      <img src="https://media.giphy.com/media/4pxvHB6Bkfhvi/giphy.gif" height="200px">
      <br>
      <br>
      <a href="/"><h2>Back To Home Page</h2></a>
      </center>
    </body>
    </html>