<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <title>Results</title>
    <style>
      body {
        background-color:#4AC9E3;
      }
      
      h2 {
        font-family: 'Zilla Slab', serif;
        margin-top:50px;
      }
      
      a {
        color:black;
      }
      
      img {
        margin-top:100px;
      }
    </style>
    </head>
    <body>
      <center>
      <h2>You should do some light cardio (jumping jacks, butt-kicks, high-knees) for 5-15 minutes to get your blood pumping and feet moving throughout the day!</h2>
      <img src="https://fitpass-images.s3.amazonaws.com/content_blog_inner_E4B1CDF6.gif" height="200px">
      <br>
      <br>
      <a href="/"><h2>Back To Home Page</h2></a>
      </center>
    </body>
    </html>